html, body {
  height: 100%;
}

body {
    background-color: #000000;
    color: #FFFFFF;
}

.debug-border {
    border: 1px solid #FFFFFF;
}

.widget-padding {
    padding: 1em;
}

.top-left {
    position:absolute;
    top: 0;
    left: 0;
}

.top-right {
    position:absolute;
    top: 0;
    right: 0;
}

.bottom-left {
    position:absolute;
    bottom: 0;
    left: 0;
}

.bottom-right {
    position:absolute;
    bottom: 0;
    right: 0;
}

.top-center {
    position: absolute;
    top: 0;
    left:50%;
    text-align: center;
}

.bottom-center {
    position: absolute;
    bottom: 0;
    left:50%;
    text-align: center;
}

#digital-clock-widget {
    text-align: center;
    padding: 3em;
}

.time {
    font-family: courier, monospace;
    font-size: 3em;
}

#weather-widget {
    width:30%;
    text-align: center;
}

.weather-icon {
    font-size:6em;
    padding: 15px;
}

.weather-icon-forecast {
    font-size:1.5em;
    padding: 5px;
}

.weather-icon-wind {
    font-size:3em;
}

.weather-forecast-div {
    background-color: rgba(0,0,0,0);
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: #606060;
}

.vert-align-mid {
    display: inline-block;
    vertical-align: middle;
}

#compliment-widget {
    top:20%;
    text-align: center;
    
}

#calendar-widget {
    width: 66%;
    font-size: 1.25em;
}

#calendar-widget li {
    background-color: rgba(0,0,0,0);
    border-width: 0px 0px 1px 0px;
    border-color: #606060;
}

#nhl-widget {
    font-size: 1.25em;
    padding: 3em;
    text-align: center;
}

.nhl-game {
    border-style: solid;
    background-color: rgba(0,0,0,0);
    border-width: 1px 0px;
    border-color: #606060;
}